// Mixin Imports
@import "lib/mappy";
//
// Mappy usage: @include mappy-bp(1000px) { rules : here; }


// Variables  
$page-width: 1050px;
$tablet-width: 600px;

$color-1: #3498db;
$color-2: white;

// Core Import
@import "typography";

// View Imports
//@import "home";


// Your SCSS goes below here
html {
    margin:0;
    padding:0;
    background-color:#333333;
    
}

header {
    background-color:#333333;
}

section {
    background-color:#333333;
}

.top-logo-wrap {
    position:relative;
    width:100%;
    height: 250px;
    background-color:#333333;

    img {
        display:block;
        margin: 0 auto;
    }
}

.top-banner-bar {
    
    display:block;
    background-color:#333333;
    text-align:center;
    padding-bottom: 30px;

    a {
        display:inline;
        background-color:#333333;
        padding: 0 25px;
        text-transform: uppercase;
        font-weight:600;
        font-size:12px;
        letter-spacing:1px;
        color:white;
    }
}

.main-image {
    position:relative;
    //width:100%;
    background-image: url("../images/1.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover
}

.content {
    float:left;
    width:60%;
    margin-left:10%;
    height:100%;
    background-color:#333333;
}

.top-content {
    width:100%;
    margin:30px 10px 45px 10px;
    display: flex;
    justify-content: space-between;
}

.top-content-dock {
    width:100%;
    padding: 25px 25px;
}

.content-header-item {
    //height:400px;
    //width:calc(100%/3);
    display:inline-block;
    background-color:#333333;
    padding:2em;
    border: 0.2em solid #505050;


    img{
        height: 92px;
        background-repeat: no-repeat;
        background-position: center; 
        background-size: cover;
        width:164px;
    }

}
